[Desktop Entry]
Version=1.0
Type=Application
Name=Minecraft
Icon=/home/aaronfranke/Dropbox/Public/Icons/mc.png
Exec=java -Xss2M -jar ~/.minecraft/launcher.jar
Categories=Game;
