[Desktop Entry]
Version=1.0
Type=Application
Name=Steam Big Picture
Icon=/home/aaronfranke/Dropbox/Public/Icons/steambigpicture.png
Exec=/usr/games/steam %U -start steam://open/bigpicture 
Categories=Network;Multimedia;Game;
